.hero-banner {
  width: 100%;
  height: 45vh;
  border-radius: 14px;
  margin: 20px 0;
  background-image: url("https://t4.ftcdn.net/jpg/03/32/95/71/360_F_332957101_NV588R5pQUyusBU22Wvzqqhq3E7pOPwb.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}
