.prod-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  transition: 0.2s;
}

.prod-card:hover {
  transform: translateY(-3px);
}

.prod-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.prod-info {
  padding: 15px;
}

.prod-info h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #0d6efd;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.add-btn {
  background: #0d6efd;
  border: none;
  color: white;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
}
